{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div>
        <a href="{{ path('categorie_index') }}"> categories </a>
    </div>
    <div>
    <a href="{{ path('sous_categorie_index') }}"> sous-categories </a>
    </div>
    <div>
        <a href="#"> Gestion Utilisateur </a>
    </div>

    <div>
        <a href="{{ path('produit_index') }}"> Gestion Produits </a>
    </div>

    <div>
        <a href="#"> Gestion Entreprise </a>
    </div>
{% endblock %}

