{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div>
        <a href="#"> Gestion categories </a>
    </div>

    <div>
        <a href="#"> Gestion Utilisateur </a>
    </div>

    <div>
        <a href="#"> Gestion Produits </a>
    </div>

    <div>
        <a href="#"> Gestion Entreprise </a>
    </div>

{% endblock %}

