nav {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  height: auto;
}

footer {
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: #F6F1D1;
  height: auto;
}

img {
  width: 150px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.container {
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}