.logo {
    position: relative;
    margin-left: 1.75em;
    max-width: 110px;
    min-width: 110px;
}

.titre
{
    display: flex;
    margin-left: 5%;
}

.navbar{
    border-bottom: 5px solid #b69126;
    background-color: rgba(254, 244, 215, 0.3);
}

.navbar-nav{

}

.nav-link{
    font-size: 20px;
}

#dropdownMenu2{
    font-size: 20px;
}

.banniere{
    width: 40px;
    display: flex;
    margin-left: 3.3%;
}



/*==============================*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.navbar {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.navbar li {
    display: inline-block;
    list-style: outside none none;
}
.navbar a {
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.navbar a:before,
.navbar a:after{
    height: 3px;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #6bb26b;
    width: 0;
}
.navbar a:before {
    top: 0;
    left: 0;
}
.navbar a:after {
    bottom: 0;
    right: 0;
}
//.navbar-nav a:hover{
//    color: #4f99b9;
//}
.navbar a:hover:before,
.navbar a:hover:after{
    width: 100%;
}