{% extends 'base.html.twig' %}

{% block title %}Demande de reinitialisation Mot de passe!{% endblock %}

{% block body %}


    <div>
        <h3>Mot de passe oublié ? </h3>
        <div>
            {{form(emailForm)}}
        </div>
    </div>


{% endblock %}
