{% extends 'base.html.twig' %}

{% block title %}Reinitialisation Mot de passe!{% endblock %}

{% block body %}
        <h1>Entrez votre nouveau mot de passe</h1>
    <form action="" method="post">
        <label for="motDePasse"> Mot de passe</label>
        <input type="password" name="motDePasse" id="motDePasse">
        <label for="motDePasseConfirm">Confirmation de votre mot de passe</label>
        <input type="password" name="motDePasseConfirm" id="motDePasseConfirm">
        <input type="hidden" name="token" id="token" value="{{ token }}">
        <input type="submit">

    </form>

{% endblock %}
