{% extends 'base.html.twig' %}

{% block title %}Edit SousCategorie{% endblock %}

{% block body %}
    <div class="window-inscriprion">
        <h1>Modification</h1>
        {{ include('sous_categorie/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>

{% endblock %}
