{% extends 'base.html.twig' %}

{% block title %}Edit SousCategorie{% endblock %}

{% block body %}
    <h1>Modification</h1>

    {{ include('sous_categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('sous_categorie_index') }}">Retour</a>

    {{ include('sous_categorie/_delete_form.html.twig') }}
{% endblock %}
