{% extends 'base.html.twig' %}

{% block title %}New SousCategorie{% endblock %}

{% block body %}
    <div class="window-inscriprion">
        <h1>Ajouter une sous-catégorie</h1>
        {{ include('sous_categorie/_form.html.twig') }}
    </div>
{% endblock %}
