@mixin profile-picture ($size: $profile-picture-size){
    width: $size;
    height: $size;
    background-size: cover;
    background-position: center;
    border-radius: $border-radius;
}
@mixin message-aligne ($aligned: left){
    @if ($aligned == right) {
        margin-left: auto;
    }@else {
        margin-right: auto;
    }
    &__corp{
        margin-top: 2rem;
        padding: 0.5rem;
        border-radius: $border-radius;
        @if ($aligned == right) {
            background-color: $color-green;
        }@else {
            background-color: darken($color-windows-background , 15%);
        }
    }
    &__time{
        color: lighten($color-text , 30%);
        @if ($aligned == right) {
            text-align: end;
        }@else {
            text-align: start;
        }
    }
}
@mixin window($height :false ,$width :60em){
    position:relative;
    margin: 2rem auto;
    padding: 1rem;
    width:$width;
    @if ($height != false){
        height:$height;
    }@else {
        height:auto;
    }

    border-radius:$border-radius;
    background:$color-windows-background;
    overflow: hidden;
}