
$color-windows-background : rgba(201, 200, 200, 0.87);
$color-green: #74ab54;
$color-btn-green : lighten($color-green,0%);

$color-text : #000000;

$profile-picture-size : 2rem;

$border-radius: 0.25rem;