
$color-windows-background : rgba(255, 253, 247, 0.65);
$color-footer-background :#fef4d7;
$color-font : whitesmoke;

$color-green: #74ab54;
$color-btn-green : lighten($color-green,0%);
$color-btn-black-green :#0b5420;

$color-text: #000000;

$color-test-bc : rgba(255, 253, 247, 0.47);

$btn-color:(
        green: $color-green,
        red: #ff0000,
        yellow  : #FFFF00FF,
);

$btn-sizes :(
        xs: 0.11rem,
        sm: 0.5rem,
        lg : 0.75rem,
        bg : 2rem,
);

$profile-picture-size : 2rem;

$border-radius: 0.25rem;