
#navbarNav {
    position: absolute;
    right: 40px;
}

.form-control {
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.form-label, .form-check-label {
    margin-left: 10px;
    text-align: center;
}

.textBanniere h2 {
    font-size: 18px;
    padding-bottom: 30px;
}

.quiSommeNous {
    background-color: #5eb5e0;
}

.d-block {
    height: 300px;
}

/** CSS login.html.twig **/
.buttonConnexion, .SeSouvenirDeMoi, .Connectez-Vous {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Connexion, .buttonConnexion {
    margin-left: 450px;
    margin-right: 400px;
}

.form-control {
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.Connexion {
    text-align: center;
}

.checkbox {
    margin-left: 10px;
    text-align: center;
}

.cadre_scroll {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 430px;
}

.col-12 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(255, 255, 255, 0.55);
}

/** CSS modifierProduit.html.twig **/

/** CSS modificationUtilisateur.html.twig **/
.btn {
    flex-wrap: nowrap;
    justify-content: center;
}

.informationDuCompte {
    margin-left: 300px;
    margin-top: 20px;
}

.formulaireInformationCompte {
    border-bottom: 30px #b0413e;
}



.card {
    flex-direction: row;
}

.copyright {
    margin-left: 20px;
}

/** CSS index.html.twig **/

.background-Texte {
    background: #FFFFFF;
}

.border-bot-rows {
    border-bottom: 1px solid #DDD;
}

#maCarte {
    height: 95%;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 3%;
}

#map {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
}

.colorTitle3 {
    width: 50%;
    padding: 3% 0 0 0 !important;
    background: #228B22;
    margin-left: 30%;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    tranform: skew(-30deg);
}

.allProduits h3 {
    color: white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    tranform: skew(30deg);
}

/** CSS detail.produit.twig **/

.card-title {
    border-bottom: 5px forestgreen double;
    border-radius: 30px;
    margin-bottom: 25px;
}



article, .ajoutProduit {

    padding: 20%;
    border-top: 10px double #0D58BE;
    border-bottom: 10px double #0D58BE;
    border-radius: 30px;

    text-align: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 550px;
    width: 550px;
}

.card, .card-body, .card-text, .card-prix, a, image {
    margin-left: auto;
    margin-right: auto;
    color: black;
    position: center;


}

section, .card, .card-body, .card-text, .card-prix, a, image, h3 {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.img-fluid {
    height: 200px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    body {
        margin: auto;
    }
}


/** CSS inscription.html.twig **/

.register {
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.agree {
    margin-bottom: 2%;
}

/** CSS Panier index.html.twig **/

/*.title {*/
/*    margin-bottom: 2%;*/
/*    margin-top: 2%;*/
/*}*/

#quantity, #sousTotal {
    text-align: left;
}

.produitName {
    margin-bottom: 5%;
}

.imgPanier {
    width: 100%;
    justify-content: center;
    align-items: center;
}

#sousTotal {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 1%;
}

/**CSS apperçuCommande.html.twig */

.ArtCmd {
    margin-left: 10%;
}

/**CSS Partenaire.html.twig */

.imgEntreprise {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/** CSS modifierEntreprise.html.twig */

.modify {
    display: flex;
    position: relative;
    text-align: left;
}

.description {

    text-align: left;
    justify-content: left;
    margin-left: 8%;
}

/** CSS VitrinePartenaire.html.twig **/

.entreprise {
    width: 50%;
    margin-left: 25%;
}

/**
CSS Formulaire-Inscription-Entreprise.html.twig
 */

.creationProduit {
    display: flex;
    width: 90%;
    text-align: left;
    border-radius: 10px;
}

/** modifier produit **/


.imgModifierProduit, .modifierProduit {
    display: flex;
    flex-direction: row;
}

/** modifier entreprise **/

.photoModifierEntreprise {
    margin-bottom: 20px;
    text-align: center;

    margin-top: 25px;
}

.modifierEntreprise, .photoModifierEntreprise {
    display: flex;
    justify-content: space-between;
}

/*
CSS DetailProduit
 */
.img__full, #img__full {
    width: 350px;
    height: 40%;
}

