body
{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
}

.choix
{
    border-bottom: 5px dashed #0D58BE;
    border-radius: 30px;
    margin-top: 10px;

}

.logo
{
    box-shadow: 2px 2px 2px 2px #FFFFFF;
    border-radius: 500px;
}

nav, footer
{
    border-top: 10px double #FFFFFF;
    border-bottom: 10px double #FFFFFF;
    border-radius: 30px;
    background-color: forestgreen;
}
.container
{
    flex-direction: row;
}
label
{
    margin-left: 80px;
}

select, option
{
    margin-right: 40px;
    margin-bottom: 40px;
}

.d-block
{
    height: 300px;
}

img
{
    width: 150px;
    object-fit: cover;
}

section
{
    flex-direction: row;
}

.boutonRecherche
{
    text-align: center;
    margin-bottom: 20px;
    margin-left: 250px;
    margin-right: 250px;
}
section
{
    width: 50%;
    justify-content: space-between;
}
h2
{
    text-align: center;
}

aside, p
{
    text-align: justify;
}

    /** CSS login.html.twig **/
.buttonConnexion, .SeSouvenirDeMoi, .Connectez-Vous
{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.Connexion, .buttonConnexion
{
    margin-left: 450px;
    margin-right: 400px;
}

.form-control
{
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.Connexion
{
    text-align: center;
}

/** CSS modifierProduit.html.twig **/

/** CSS modificationUtilisateur.html.twig **/
.btn
{
    flex-wrap: nowrap;
    justify-content: center;
}

.informationDuCompte
{
    margin-left: 300px;
    margin-top: 20px;
}
.formulaireInformationCompte
{
    border-bottom: 30px #B0413E;
}

h3, p, h5
{
    text-align: center;
}

.creationProduit
{
    text-align: center;
    margin: 20px 350px 20px 400px;
    border-radius: 10px;
}

img
{
    max-width: 100%;
    height: auto;
}
.contenaire
{
    width: 100%;
    padding-left: 450px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.card
{
    flex-direction: row;
}

.copyright
{
    margin-left: 20px;
}
/** CSS index.html.twig **/

.background-Texte {
    background: #FFFFFF;
}
.border-bot-rows {
    border-bottom: 1px solid #DDD;
}

#maCarte
{
    height: 400Px;
    width: 400px;
}
