
body
{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
}
.choix
{
    border-bottom: 5px dashed #0D58BE;
}

nav
{
    border-top: 10px double #0D58BE;
    border-bottom: 10px double #0D58BE;
}
.filtres
{
    text-align: center;
}

label
{
    margin-left: 50px;
}

select, option
{
    margin-right: 40px;
    margin-bottom: 40px;
}

.d-block
{
    height: 300px;
}

label
{
    flex-direction: row;
    color: black;
}

img
{
    width: 150px;
    object-fit: cover;
}

section
{
    flex-direction: row;
}

article
{
    justify-content: center;
}

article, h2
{
    text-align: center;
    margin: 20px;
}
.boutonRecherche
{
    text-align: center;
    margin-bottom: 20px;
    margin-left: 250px;
    margin-right: 250px;
}

.maps, .slider
{
    flex-direction: row;
}
aside, p
{
    text-align: justify;
}


                            /** CSS login.html.twig **/
.buttonConnexion, .SeSouvenirDeMoi, .Connectez-Vous
{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.Connexion, .buttonConnexion
{
    margin-left: 450px;
    margin-right: 400px;
}

.form-control
{
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.Connexion
{
    text-align: center;
}

/** CSS detailProduit.html.twig **/

