{% extends 'base.html.twig' %}

{% block body %}


    <div class="col-3">
        {{ form_start(ajoutProduitForm) }}
        {{ form_end(ajoutProduitForm) }}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

