{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">

        <h3>Chez {{ produit.entreprise }}</h3>
        <div class="row">
            {% for photo in produit.fichiers %}
            <div class = "col-lg-3 col-md-6 col-sm-12 mb-4">
                <img src={{ asset('img/ProduitPhoto/'~photo.urlFichier) }} alt="photo_entreprise" class="rounded">
            </div>
        {% endfor %}
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('Javascripts/Fichiers.js') }}"></script>
    {% endblock %}
{% endblock %}




