{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
    <div class="col-3">
        <h3>Edit Utilisateur</h3>
        {{ include('utilisateur/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('utilisateur_index') }}">back to list</a>
        {{ include('utilisateur/_delete_form.html.twig') }}
    </div>
{% endblock %}
