.admin_choices {

  margin: 15px;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  a {
    display: block;
    background-color: $color-windows-background;
    width: 250px;
    height: 50px;
    line-height: 46px;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    border: 3px solid seagreen;
    color: $color-btn-black-green;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    //background: transparent;

    z-index: 0;
    text-transform: uppercase;
    transition: all .35s;

    &:before,
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      background: seagreen;
      z-index: -2;
      transition: all .35s;
    }

    &::before {
      opacity: .5;
    }

    &:after {
      transition-delay: .2s;
    }

  }

  a:hover {
    color: #fff;
  }

  a:hover:before,
  a:hover:after {
    top: 0;
  }
}

.admin_categories{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}