.window-chat{
  position:relative;
  margin:auto;
  padding: 1rem;
  width:60em;
  height:80vh;
  border-radius:$border-radius;
  background:$color-windows-background;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3rem;
overflow: hidden;
  &__conversations{
    grid-column: 1/2;
    grid-row: 1/3;
    overflow: auto;
    height: 100%;
    border-radius:$border-radius;

  }
  &__messages{
    padding: 2rem;
    grid-column: 2/3;

    grid-row: 1/2;
    overflow: auto;

    border-radius: $border-radius;
  }
  &__input{
    grid-column: 2/3;
    grid-row: 2/3;

    border-radius: $border-radius;

  }
}
.conversation{
  border-radius: $border-radius;
  margin: 0 0 0.25rem 0;
  width:100%;
  height:5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: darken($color-windows-background,15%);

  &:hover{
    background-color: darken($color-windows-background,5%);
  }
  &__image{

    margin: auto;
    &__picture{
      grid-column: 1/2;
      margin: auto;
      @include profile-picture(4.5rem);
      order: 1;
    }
    &__puce{
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      font-size: 0.9rem;
      padding-top: 0.125rem;
      border-radius: 1rem;
      top: 0;
      background: #e00000;
      color: white;
    }
  }
  &__info {
    margin: auto 0;

    text-align: left;
    grid-column: 2/3;
  }
}
.message{
  display: grid;
  margin: 0;
  &__this{
    @include message-aligne(right);
  }
  &__other{
    @include message-aligne(left);
  }
}
.input-area {
  border-radius: $border-radius;
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  background-color: #fff3d9;
  grid-template-columns: 1fr 5rem;
  label {
    grid-column: 1/2;
    textarea {
      margin: 0 0.4rem;
      border: none;
      border-radius: $border-radius 0 0 $border-radius;
      width: 100%;
      height: 3rem;
      resize: none;
      &:focus {
        outline: none;
      }
    }
  }
  button {
    border: none;
    background-color: $color-btn-green;
    border-radius: $border-radius;
    grid-column: 2/3;

    &:hover {
      background-color: lighten($color-btn-green, 15%);
    }
  }
}