.window-connexion{
  position: relative;
  @include window(auto, 30rem);
  input{
    width: 100%;
    margin-bottom: 1rem;
  }
  label{
    input{
      width: 2rem;
    }
  }
  button{
    margin: 0 25%;
    width: 50%;
  }
}

