.window-inscriprion{
  @include window( auto ,45rem);
  .form-group{
    padding: 0.5rem;
  }

  form{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h3{
      grid-column: 1/3;
    }
    .images{
      overflow: auto;
      display: flex;
      &__image{
        margin: auto;
        border-radius: $border-radius;
        display: grid;
        grid-template-rows: 1fr 4rem;

        img{
          margin: 0.25rem;
          border-radius: $border-radius;
          object-fit: cover;
          object-position: center;
          height: 7rem;
          width: auto;
          grid-row: 1/2;
        }
        a{
margin: auto;
          grid-row: 2/3;
        }
      }

    }
  }
}
@media screen and (max-width: 800px) {
  .window-inscriprion {
    z-index: 1;
    width:30rem;
    margin: 2rem 9rem;
    form{
      grid-template-columns: 1fr;
    }
  }
}