.window-partenaire{

  @include window(auto, 30rem);
  display: grid;
  grid-template-rows: 2fr 14rem repeat(5 , 1fr);
  text-align: center;
  &__photos{
    overflow: auto;
    &__image{
      display: flex;
      white-space: nowrap;
      margin: auto;
    }
    img{overflow: auto;
      object-fit: cover;
      object-position: center;
      height: 10rem;
      border-radius: $border-radius;
    }
  }
}