{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}
    <form action="{{ path('app_chat_ping') }}" method="post">
        <button class="btn btn-primary"> Ping !</button>
    </form>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('Javascripts/mercure/test.js') }}"> </script>
{% endblock %}
