html, body {
  height: 100%;
  margin: 0; padding: 0;
}
body {
  display : table;
  width: 100%;
}
footer{
  display : table-row;
  text-align: center;
  width: 100vw;
  height: 5em;
  background-color: $color-footer-background;
}

.administratif{
  display: flex;
  justify-content: space-evenly;
}

.copyright{
  padding-top: 1em;
}