footer{
  height: 6em;
  ul {
    list-style-type: none;
  }

  li{
    display: inline-block;
    align-items: center;
  }
  a{
    position: relative;
    text-decoration: none;
    display: inline-block;
  }

  .CGV, ML{
    padding: 10px;
  }
}
