.button {
  color:white;
  text-decoration:none;
  padding:$border-radius $border-radius*2;
  border-radius:$border-radius;
  $colors : #737373;
  background-color: $colors;
  border: none;
  &:hover {
    background:darken($colors,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($colors,25%);
  }
}
@each $color, $colors in $btn-color{
  .button--#{$color}{
    background-color: $colors;
    &:hover {
      background:darken($colors,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background:darken($colors,25%);
    }
  }
}
@each $size, $sizes in $btn-sizes{
  .button--#{$size}{
    padding:$sizes $sizes*3 ;
  }
}