
{% extends 'base.html.twig' %}


{% block body %}


    <label>Choix de Departement:</label></br>
    <label for="departement"></label>
    <select name="Departement" id="departement">
        <option selected>Choix disponnible</option>
        <option value="Haute-Loire">Haute-Loire</option>
        <option value="Loire">Loire</option>
    </select></br>

    <label for="produits">Choix Produits:</label></br>
    <select name="Choix Produits" id="produits">
        <option selected>Choix disponnible</option>
        <option value="Vetements">Vetements</option>
        <option value="Fruits">Fruits</option>
        <option value="Confiture">Confitures</option>
    </select>

        <link rel="stylesheet" type="text/css" href="{{ asset('css/made-in-loire.css') }}" />
        <script src="./index.js"></script>
    <div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1Vp-lHS6dz1rwNdc-i4V7KSXU_cRMZOy_" width="640" height="480"></iframe>
    </div>



{% endblock %}


{% block title %}



{% endblock %}

