<!DOCTYPE html>
<html>

{% include('inc/__head.html.twig') %}

<body>

{% include ('inc/__header.html.twig') %}
{% include ('inc/__MessagesFlashs.html.twig') %}


{% block body %}{% endblock %}
{% include ('inc/__footer.html.twig') %}
{% block javascripts %}{% endblock %}
</body>
</html>
