{% if sousCategories %}
    {% if sousCategories|length > 1 %}
        <option value="">Choisir une sous-categorie</option>
        {% for sousCategorie in sousCategories %}
            <option value={{ sousCategorie.id }}>{{ sousCategorie.nom }}</option>
        {% endfor %}
    {% else %}
        {% for sousCategorie in sousCategories %}
            <option value={{ sousCategorie.id }}>{{ sousCategorie.nom }}</option>
        {% endfor %}
    {% endif %}
{% else %}
    <option value="">Pas de sous catégories connues</option>
{% endif %}
