{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <div class="window-inscriprion">
        <h1>Modification</h1>
        {{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
