{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <div class="window-inscriprion">
        <h1>Ajouter une catégorie</h1>
        {{ include('categorie/_form.html.twig') }}
    </div>

{% endblock %}
