<footer class="site-footer">

        <ul class="">
            <li class="CGV"><a href="{{ path('CGV') }}">Conditions Générales de Vente</a></li>
            <li class="ML"><a href="{{ path('ML') }}">Mentions Légales</a></li>
        </ul>

    <div class="copyright">
        Copyright 2021
    </div>
</footer>
