<footer>
    <div class="administratif">
            <a href="{{ path('CGV') }}">Conditions Générales de Vente</a>
            <a href="{{ path('ML') }}">Mentions Légales</a>
    </div>
    <p class="copyright">Copyright 2021</p>
</footer>
